<configuration>
  <system.serviceModel>
    <services>
      <!-- UserService -->
      <service name="MyProject.DomainService.Impl.UserService">
        <endpoint
                address=""
                binding="netTcpBinding"
                contract="MyProject.DomainService.IUserService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/UserService" />
          </baseAddresses>
        </host>
      </service>

      <!-- WarehouseService -->
      <service name="MyProject.DomainService.Impl.WarehouseService">
        <endpoint
                address=""
                binding="netTcpBinding"
                contract="MyProject.DomainService.IWarehouseService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/WarehouseService" />
          </baseAddresses>
        </host>
      </service>

      <!-- ProductService -->
      <service name="MyProject.DomainService.Impl.ProductService">
        <endpoint
                address=""
                binding="netTcpBinding"
                contract="MyProject.DomainService.IProductService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/ProductService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Чтобы можно было тестировать через WCF Test Client -->
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
